{{ define "header" }}
    {{/* We can override any block in the baseof file be defining it in the template */}}
    {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
    {{ $section := .Site.GetPage "section" .Section }}
    <article id="content">
        <aside class="w3-quarter">
            {{ partial "metadata.html" . }}
        </aside>
        <section class="w3-rest">
            {{ with .Content }}
                {{ . }}
            {{ else }}
                <p><i>{{ i18n "no-content"}}</i></p>
            {{ end }}
        </section>
    </article>
{{ end }}