{{ define "main" }}
    <article id="content">
        {{ .Content }}
    </article>
    <section>
        {{ range $key, $value := .Site.Taxonomies }}
            <h2>{{ printf "tax-%s" $key | i18n }}</h2>
            {{ range $key2, $value2 := $value }}
                {{ range $value3 := $value2 }}
                    <a href="{{ (printf "/%s/%s" $key $key2) | relLangURL }}">
                    <span class="kanso-tag tax-{{ $key }}">
                        {{ with printf "tax-%s-%s" $key $key2 | i18n }}{{ . }}{{ else }}{{ $key2 }}{{ end }}
                    </span>
                    </a>
                {{ end }}
            {{ end }}
        {{ end }}
    </section>
{{ end }}