{{ with .Param "externals" }}
    <h3>
        {{ i18n "externals" }}
    </h3>
    <ul>
        {{ range $key, $link := . }}
            <li><a href="{{ $link }}">{{ $key }}</a></li>
        {{ end }}
    </ul>
{{ end }}