{{ if .IsTranslated }}
    <h3>{{ i18n "translations" }}</h3>
    <div id="translations" class="w3-bar-block">
        {{ range .Translations }}
            <a class="w3-bar-item" href="{{ .Permalink }}">{{ .Lang }}</a>
        {{ end }}
    </div>
{{ end }}