<div class="w3-bar-block">
    <h3>{{ i18n "platforms" }}</h3>
    {{ with .Param "twitter" }}
        <a href="https://twitter.com/{{ . }}" target="_blank" class="w3-bar-item twitter" rel="noopener"
           aria-label="Twitter">
            {{ i18n "platform-twitter" . }}
        </a>
    {{ end }}
    {{ with .Param "youtube" }}
        <a href="https://youtube.com/c/{{ . }}" target="_blank" class="w3-bar-item youtube" rel="noopener"
           aria-label="YouTube">
            {{ i18n "platform-youtube" . }}
        </a>
    {{ end }}
    {{ with .Param "gitlab" }}
        <a href="https://gitlab.com/{{ . }}" target="_blank" class="w3-bar-item gitlab" rel="noopener"
           aria-label="GitLab">
            {{ i18n "platform-gitlab" . }}
        </a>
    {{ end }}
    {{ with .Param "github" }}
        <a href="https://github.com/{{ . }}" target="_blank" class="w3-bar-item github" rel="noopener"
           aria-label="GitHub">
            {{ i18n "platform-github" . }}
        </a>
    {{ end }}
</div>