<footer role="contentinfo">
    <div class="w3-quarter w3-padding">
        {{ partial "i18nlist.html" . }}
    </div>
    <div class="w3-quarter w3-padding">
        {{ partial "platforms.html" . }}
    </div>
    <div class="w3-half w3-padding">
        <h3>{{ i18n "copyright" }}</h3>
        {{ .Site.Copyright | safeHTML }}
        <p>
            {{ with .Site.Params.source }}
                <a href="{{ . }}">
                    {{ i18n "source" }}
                </a>
            {{ end }}
        </p>
    </div>
</footer>