{{ range $key, $value := .Site.Taxonomies }}
    <h3>{{ printf "tax-%s" $key | i18n }}</h3>
    {{ $none := true }}
    {{ range $key2, $value2 := $value }}
        {{ range $value3 := $value2 }}
            {{ if eq .Permalink $value3.Permalink }}
                {{ $none = false }}
                <a href="{{ (printf "/%s/%s" $key $key2) | relLangURL }}">
                    <span class="kanso-tag tax-{{ $key }}" id="tax-{{ $key }}-{{ $key2 }}">
                        {{ with printf "tax-%s-%s" $key $key2 | i18n }}{{ . }}{{ else }}{{ $key2 }}{{ end }}
                    </span>
                </a>
            {{ end }}
        {{ end }}
    {{ end }}
    {{ if $none }}
        {{ i18n "no-content" }}
    {{ end }}
{{ end }}