@use "w3.css";

$accent-fg: #6a29ff;
$accent-bg: #fff;

body {
  font-family: monospace !important;
}

.kanso-tag {
  @extend .w3-tag;
  @extend .w3-card;
  @extend .w3-round-xxlarge;
}

.tax-tags {
  @extend .accent;
}

video {
  width: 100%;
  height: 100%;
}

.kanso-panel {
  @extend .w3-panel;
  @extend .w3-round;
  @extend .w3-card;
}

.kanso-draft {
  @extend .kanso-panel;
  background-color: #ddd;
  color: #000;
}

.kanso-info {
  @extend .kanso-panel;
  background-color: #0af;
  color: #fff;
}

.kanso-warning {
  @extend .kanso-panel;
  background-color: #f70;
  color: #000;
}

.accent {
  background-color: $accent-fg;
  color: $accent-bg;
}

.accent-reverse {
  background-color: $accent-bg;
  color: $accent-fg;
}

a:focus, a:hover {
  @extend .accent-reverse;
  @extend .w3-round;
  transition-duration: 0.2s;
}

article {
  @extend .w3-padding;
  @extend .w3-container;
}

section {
  @extend .w3-padding;
}

.w3-bar, .w3-bar-block {
  .w3-bar-item {
    @extend .w3-round
  }
}

#nav {
  @extend .w3-card-4;
  @extend .w3-container;
  @extend .w3-padding;
  @extend .accent;

  div {
    @extend .w3-bar;

    #title, a {
      @extend .w3-bar-item;
    }

    a:not(#title) {
      @extend .w3-right;
    }
  }
}

footer {
  @extend .w3-card-4;
  @extend .w3-container;
  @extend .w3-padding;
  @extend .accent;
}
